.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #1d2a57;
  font-family: Arial, Helvetica, sans-serif;
}
/* __NAV__ */
.responsive_nav {
  display: none;
}
.navigation {
  list-style: none;
  margin: 0;
  font-weight: 700;
  background: #1d2a57;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.toggle {
  display: none;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation a:not(.current_link) {
  border-top: 3px solid #1d2a57;
}
.navigation a:hover:not(.current_link) {
  border-top: 3px solid #5ce8ff;
}
.navigation a:active {
  background: #00b7f5;
}
.current_link {
  border-top: 3px solid #5ce8ff;
}
@media all and (max-width: 700px) {
  .navigation {
    display: none;
  }
  .toggle {
    height: 19px;
    margin: 0;
    font-weight: 700;
    background: #1d2a57;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: flex-end;
    font-size: 0.875rem;
    align-self: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    color: white;
  }
  .responsive_nav {
    margin: 0;
    font-weight: 700;
    background: #1d2a57;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: column wrap;
    display: flex;
    font-size: 0.875rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
  }
  .responsive_nav a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .responsive_nav a:hover {
    background: #00b7f5;
  }
  .responsive_nav a:active {
    background: #00b7f5;
    border-top: 3px solid #5ce8ff;
  }
  .icon {
    color: white;
  }
  .main_header {
    margin-top: 48px;
  }
}
@media all and (min-width: 700px) {
  .main_header {
    margin-top: 53px;
  }
}
/* __MAIN HEADER__ */
.main_header {
  height: 200px;
  background-image: linear-gradient(to right, #0f193d, #2c2f62, #1a2753);
  border-top: solid 1px #4a5478;
  margin-bottom: 10px;
  color: #fff;
}
.main_header_cont {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.main_search_field {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #444;
  padding-left: 15px;
  /*padding: 10px;*/
  width: 95%;
  outline: 0;
  line-height: normal;
  cursor: text;
  text-size-adjust: 100%;
  text-rendering: auto;
  font-size: 14px;
  height: 40px;
}
.flex_center_cont {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex_center_item {
  padding: 15px;
  /*background-image: linear-gradient(to right,lightblue,lightgreen);*/
}
.flex_row_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex_main_pic {
  height: 100%;
  flex-grow: 1;
  max-width: 420px;
  min-width: 202px;

  /*background-image: linear-gradient(to right,lightpink,lightyellow,lightpink);*/
}
.flex_main_inputfield {
  height: 100%;
  flex-grow: 2;
  margin: 5px;
  margin-left: 5px;

  /*background-image: linear-gradient(to right,dodgerblue,lightskyblue,dodgerblue);*/
}
.search_btn {
  border-width: 0;
  background: #fec400;
  width: 40px;
  height: 40px;
  vertical-align: 0;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  text-transform: none;
  outline: none;
  font: inherit;
  margin: 0;
}
.search_btn:hover {
  background: #cb9c00;
}
.select_main {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  color: #444;
  padding: 10px;
  outline: 0;
  line-height: normal;
  cursor: pointer;
  text-size-adjust: 100%;
  text-rendering: auto;
  font-size: 14px;
  box-sizing: border-box;
  height: 44px;
  width: 30%;
}
.rem_spc {
  font-size: 0px;
  display: inline-block;
  height: 40px;
  flex-grow: 6;
  width: calc(100% - 100px);
}
.flex_input_fields {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.rem_spc2 {
  margin-left: 5px;
  flex-grow: 1;
}
option:checked {
  display: none;
}
@media all and (max-width: 560px) {
  .select_main {
    width: 10%;
  }
  .main_search_field {
    width: 90%;
  }
}
@media all and (max-width: 315px) {
  .rem_spc {
    width: calc(90% - 100px);
  }
  .main_search_field {
    width: 80%;
  }
}
.mim_medium_crown {
  width: 172px;
  height: 86px;
}
.mim_library {
  width: 216px;
  height: 86px;
}
@media all and (max-width: 422px) {
  .mim_medium_crown {
    width: 133px;
    height: 66px;
  }
  .mim_library {
    width: 180px;
    height: 66px;
  }
}
.flex_body_sthtoshow {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-around;
  margin-top: 50px;
}
.containertoshow {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 5px;
  min-width: 240px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_body {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  /*height: 70%*/
}
ul {
  padding: 0 0 5px 0;
}
ul.ltp {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
  margin: 15px;
}
ul.dashed > li:before {
  content: '-';
  text-indent: -5px;
}
.jcenter {
  text-align: justify;
}
.wthsth {
  border-width: 0;
  width: 100%;
  text-align: center;
  background: #dde8eb;
  cursor: pointer;
  text-transform: none;
  outline: none;
  font: inherit;
  margin: 0;
  border-radius: 20px;
  height: 40px;
  font-weight: 700;
}
.wthsth:hover {
  background: #d1dade;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(166, 132, 20, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.stickynav {
  position: fixed;
  top: -0px;
  width: 100%;
}
/* PAGINATION */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 0px;
}

.pagination a.active {
  background-color: #1a2753;
  color: white;
  border: 1px solid #1a2753;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.dt_results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.dr_flex {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  border: 3px solid #eff1f6;
  border-left-width: 4px;
  padding: 10px;
  margin: 5px;
}
.num_fl {
  width: 40%;
}
.main_cont_res {
  width: 60%;
}
.pagination_new {
  display: inline-block;
  padding: 8px 16px;
}

.pagination_new:hover {
  background-color: #aed6f1;
  color: black;
}
.previous {
  cursor: pointer;
  background-color: #f1f1f1;
  color: black;
}
.num {
  background-color: #d6eaf8;
  display: inline-block;
  padding: 8px 16px;
}
.next {
  cursor: pointer;
  background-color: #3498db;
  color: white;
}
.total {
  margin-bottom: 5px;
  line-height: 5px;
}
.pic_1 {
  width: 60%;
}
